{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <style>
    #container {
    background: rgba(3, 3, 55, 0.5);
    width: 18.75rem;
    height: 15rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    </style> 
    </head>
    <body>

        <div id="container">
            <header>Reset Password</header>
            <br>
            <br>
            <form method="post">
                {% csrf_token %}
                <fieldset>
                    <input type="email" name="username" placeholder="Email"
                        required>
                    <br /><br/>
                    <br>
                    
                    
                    
                            <input style="color:rgb(255, 217, 0);" type="submit" name="submit" value="Send Confirmation Link">

                </fieldset>

            </form>
        </div>
    </body>
</html>